.container {
  width: 1658px;
  margin: 0 auto;
  padding: 60px 125px; }

body {
  font-family: 'Roboto', sans-serif; }

.text-compare {
  border-top: 2px solid #7a7c7d;
  padding-top: 5px; }
  .text-compare h2 {
    color: #2e2e32;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 700; }
  .text-compare a {
    color: #2e2e32;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-top: -50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .text-compare a:hover {
      opacity: 0.7; }
    .text-compare a i {
      padding-left: 10px;
      padding-top: 2px; }

.short-block {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .short-block .short-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .short-block .short-info table {
      border-collapse: collapse;
      color: #636565;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400; }
      .short-block .short-info table tr:nth-child(2n) {
        background-color: #e4e5e6; }
        .short-block .short-info table tr:nth-child(2n) td {
          border: 1px solid #f1f1f1; }
      .short-block .short-info table tr td {
        width: 302px;
        height: 60px;
        text-align: left;
        padding-left: 15px;
        border: 1px solid #e4e5e6; }
  .short-block .info-product table {
    border-collapse: collapse;
    color: #636565;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400; }
    .short-block .info-product table tr:nth-child(3n) {
      background-color: #e4e5e6; }
      .short-block .info-product table tr:nth-child(3n) td {
        border: 1px solid #f1f1f1; }
    .short-block .info-product table tr td {
      width: 302px;
      height: 60px;
      text-align: left;
      padding-left: 15px;
      border: 1px solid #e4e5e6; }
    .short-block .info-product table .short-tbl-info {
      font-size: 16px !important; }
    .short-block .info-product table .product-item {
      width: 249px;
      padding: 30px 30px 40px 30px; }
      .short-block .info-product table .product-item img {
        padding: 0 40px 10px; }
      .short-block .info-product table .product-item .available {
        color: #67c530;
        font-family: "Roboto Medium";
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 47px;
        border: 1px solid #67c530;
        border-radius: 5px;
        margin-left: 10px; }
      .short-block .info-product table .product-item .name-prod {
        margin: 13px 0 0 10px;
        color: #636565;
        font-family: "Roboto Light";
        font-size: 19px;
        font-weight: 300; }
      .short-block .info-product table .product-item .character-prod {
        color: #636565;
        font-family: "Roboto Light";
        font-size: 19px;
        font-weight: 300;
        margin: 5px 10px; }
      .short-block .info-product table .product-item .price-prod {
        color: #636565;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 700;
        text-align: center; }
      .short-block .info-product table .product-item .btn-buy-prod {
        color: #ffffff;
        font-family: "Roboto Medium";
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        width: 240px;
        height: 58px;
        background-color: #2c57af;
        padding: 10px 50px;
        border-radius: 5px;
        margin-left: 20px; }
        .short-block .info-product table .product-item .btn-buy-prod:hover {
          opacity: 0.8; }
      .short-block .info-product table .product-item .btn-delete-prod {
        color: #636565;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        position: absolute;
        margin: 40px -80px; }
        .short-block .info-product table .product-item .btn-delete-prod:hover {
          opacity: 0.8; }

.long-block {
  margin-top: 60px;
  border-bottom: 2px solid #7a7c7d;
  padding-bottom: 50px; }
  .long-block h3 {
    color: #2e2e32;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .long-block .long-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .long-block .long-info .btn-full-info {
      position: absolute;
      margin: 390px 0 0 215px;
      color: #636565;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      text-decoration: none; }
      .long-block .long-info .btn-full-info:hover {
        opacity: 0.8; }
  .long-block .table-long-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .long-block .table-long-block table {
      border-collapse: collapse;
      color: #636565;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400; }
      .long-block .table-long-block table tr:nth-child(2n) {
        background-color: #e4e5e6; }
        .long-block .table-long-block table tr:nth-child(2n) td {
          border: 1px solid #f1f1f1; }
      .long-block .table-long-block table tr td {
        width: 302px;
        height: 60px;
        text-align: left;
        padding-left: 15px;
        border: 1px solid #e4e5e6; }
    .long-block .table-long-block .long-character-prod table tr {
      font-size: 14px; }
